<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="movecenter">
    <div class="row">
      <div class="col-md-12"><hr>
        <h1>Contact Us</h1>
        <h2>Pragati Softech Drawing Company Pvt Ltd</h2>
        <p><strong>Address:</strong>#04, idea towers, 17th main, 42nd cross, Rajajinagar-560010</p>
        <p><strong>Ph:</strong>9980816097</p>
        <p><strong>Email:</strong>babu@campusinfotech.com</p>
      </div>
    </div>
    <br>
    <div class="row">
      <h2>Take a look at some of our paintings : </h2><br><br>
      <div class="col-md-12">
        <img src="assets/pencil1.jpg" alt="one">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>