<div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
      <hr>
        <div class="well">
            <h1>Hello dear users, Please stay tuned we are updating our new 3D feature..Sorry for in-convinience...</h1>
        </div>
        <hr><br>
        <div class="well">
          <h2>Try to use our other resources by going throuth our website... </h2>
        </div>
        <hr><hr>
        <div class="well">
            <h1>ThAnKiNg YoU fOr YoUr Co-OpErAtIoN....</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>