<div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><hr>
       <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6403562470846!2d77.55047621430461!3d12.99483951788517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8e385bfb49%3A0x66cd81344379de10!2sPragati+Softech!5e0!3m2!1sen!2sin!4v1541157295212" width="1300" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>