<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <hr>
      <h2>About Us</h2>
      <p>We are a small company started in 2018 and we developed a small website called "Drawing site".</p>
      <p>This site helps the users to draw diffrent 3d and 2d designs.</p>
      <h1>What is Drawing?</h1>
      <p>
        The term drawing is applied to works that vary greatly in technique. It has been understood in different ways at different times and is difficult to define. During the Renaissance the term 'disegno' implied drawing both as a technique to be distinguished from colouring and also as the creative idea made visible in the preliminary sketch.
        
        The Shorter Oxford Dictionary defines drawing as:
        
        'the formation of a line by drawing some tracing instrument from point to point of a surface; representation by lines; delineation as distinguished from painting...the arrangement of lines which determine form.'
        
        Despite this insistence on the formation of line and the implied lack of colour, few would deny that a work formed by dots or shading or wholly in line but in a range of colours is a drawing.</p>
       <br>
       <h3>look at this art:</h3>
       <img src="assets/pencil1.jpg">
      </div>
    <div class="col-md-6">
      <hr>
      <h2>Talking about drawing</h2>
      <p>Many creative people have stressed the importance of drawing for their work in other media. These quotations give an idea of the function and importance of drawing in their lives. They range in date from the 15th century to the present and demonstrate the enduring importance of drawing.</p>
       <hr>
       <h3>Artists have the ability to show their feeling through their art work: </h3>
       <img src="assets/pencil.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>